/testOR.xmi
/GererCaisse.xmi
/GestionMagasin.xmi
/Livreur.xmi
/RangerMagasin.xmi
/boat_rescue.xmi
/firefighters_example.xmi
/presentation_process.xmi
/securiser.xmi
/simple_example.xmi
/testEvents.xmi
/testMixedGateway.xmi
/testSubprocess.xmi
/testingTraces.xmi