<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simplifiedbpmn -->
      <package
            uri="http://www.cpoubel.org/simplifiedbpmn"
            class="simplifiedbpmn.SimplifiedbpmnPackage"
            genModel="model/BPMN4GAMA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BPMN4GAMA -->
      <package
            uri="http://www.cpoubel.org/BPMN4GAMA"
            class="BPMN4GAMA.BPMN4GAMAPackage"
            genModel="model/BPMN4GAMA.genmodel"/>
   </extension>

</plugin>
